body {
    font-family: 'Roboto', sans-serif;
}

.user-info,
.super-user-info {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px 0;
}

.user-info h3,
.super-user-info h3 {
    color: #003366; 
}

.stats {
    border: 1px solid #666;
    padding: 15px;
    margin: 10px 0;
    background-color: #f9f9f9;
}